Repository trento-project/agent, pull requests merged in 2023-11, with the labels that each got.

#286 Refactor gatherers package tests
  internal/factsengine/gatherers/corosyncconf_test.go
  internal/factsengine/gatherers/verifypassword.go
  internal/factsengine/gatherers/verifypassword_test.go
Labels: tech debt, test

#289 Refactor cmd and agent package tests
  cmd/config_test.go
  internal/agent/agent_test.go
Labels: tech debt, test

#293 Refactor saptune and subscriptions tests
  internal/core/saptune/saptune_test.go
  internal/core/subscription/subscription_test.go
Labels: tech debt, test

#288 Refactor collector package tests
  internal/agent/agent.go
  internal/discovery/collector/client.go
  internal/discovery/collector/client_test.go
  internal/discovery/collector/publishing_test.go
Labels: tech debt, test

#294 Refactor sapsystem package code and tests
  internal/core/sapsystem/sapsystem.go
  internal/core/sapsystem/sapsystem_test.go
Labels: tech debt, test

#295 Refactor factsengine package tests
  internal/factsengine/factsengine_integration_test.go
  internal/factsengine/factsengine_test.go
  internal/factsengine/gathering_internal_test.go
  internal/factsengine/mapper_test.go
  internal/factsengine/policy_internal_test.go
Labels: tech debt, test

#300 Http client refactor
  internal/agent/agent.go
  internal/core/cloud/aws.go
  internal/core/cloud/aws_test.go
  internal/core/cloud/azure.go
  internal/core/cloud/azure_test.go
  internal/core/cloud/gcp.go
  internal/core/cloud/gcp_test.go
  internal/core/cloud/metadata.go
  internal/core/cloud/metadata_test.go
  internal/core/sapsystem/sapcontrol.go
  internal/core/sapsystem/sapcontrolapi/mocks/WebService.go
  internal/core/sapsystem/sapcontrolapi/webservice.go
  internal/core/sapsystem/sapinstance.go
  internal/core/sapsystem/sapsystem.go
  internal/core/sapsystem/sapsystem_test.go
  internal/discovery/cloud.go
  internal/discovery/cluster.go
  internal/discovery/collector/client.go
  internal/discovery/collector/client_test.go
  internal/discovery/collector/publishing_test.go
  internal/discovery/discovery.go
  internal/discovery/host.go
  internal/discovery/sapsystem.go
  internal/discovery/saptune.go
  internal/discovery/subscription.go
  internal/factsengine/gatherers/sapcontrol.go
  internal/factsengine/gatherers/sapcontrol_test.go
Labels: enhancement, chore

#287 Add testpackage to golangci
  .golangci.yaml
Labels: tech debt, test

#304 Print fact gathering error in facts gather cmd call
  cmd/facts.go
Labels: enhancement
